@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
  --clr-background: #fafafa;
  --clr-foreground: #202124;
  --ff-primary-body: Arial, Helvetica, sans-serif;
  --ff-smartpointCloud-font: atls-default, sans-serif;
  --ff-primary-headline: 'Impact', sans-serif;
  --ff-logo-font: 'Press Start 2P', cursive;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
